.container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.inner-cont{
    margin-right: 8px;
}
.btn-id{
    width: 100px;
    height: 60px;
    outline: none;
    border-radius: 7px;

}
.top-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.btn{
    width: 70px;
    height: 40px;
    outline: none;
    border-radius: 7px;
}